  <script>
  	seajs.use('skin/manage/js/news.js',function(news){
  		 news.initTable('{:U('manage/news/getJson')}', '{:U('manage/news/preEdit')}');
  		 news.initAddModal();
  		 news.delNews('{:U('manage/news/delete')}');
  	});
  </script>
  <section class="content-header">
  	 <h1>新闻管理</h1>
  	 <ul class="breadcrumb">
			<li><i class="fa fa-home home-icon"></i> <a href="{:U(C('manage_url'))}">首页</a></li>
			<li><a href="{$listUrl}">新闻</a></li>
			<li class="active">列表</li>
		</ul>
  </section>
  
  <section class="content">
  	<div class="box">
  		<div class="box-header">
  			 <a href="#" class="btn btn-primary btn-sm btn-content-add" data-toggle="modal" data-target="#content-modal" data-url="{:U('manage/news/preAdd')}" data-title="新闻新增"><i class="fa fa-plus"></i> 新增新闻</a>
  			 <div class="col-md-4 pull-right text-right">
  			 	  <label>搜索：</label><input type="text" name="keyword">
  			 </div>
  		</div>
  		<div class="box-body">
  			  <table id="data-table" class="table table-striped table-bordered col-md-12" cellspacing="0"></table>
  		</div>
  		<div class="box-footer">
  			
  		</div>
  	</div>
  </section>
  
<include file="Common/modal-lg"/>
