        <!--[if !IE]> -->
		<script src="http://cdn.bootcss.com/jquery/2.1.3/jquery.min.js"></script>
		<!-- <![endif]-->

		<!--[if IE]>
        <script src="http://cdn.bootcss.com/jquery/1.11.2/jquery.min.js"></script>
        <![endif]-->

		<!--[if !IE]> -->
		<script>
			window.jQuery || document.write("<script src='{$baseUrl|default:'../'}/static/asset/jquery/jquery-2.1.3.min.js'>"+"<"+"/script>");
		</script>
        <!-- <![endif]-->

		<!--[if IE]>
        <script>
         window.jQuery || document.write("<script src='{$baseUrl|default:'../'}/static/asset/jquery/jquery-1.11.2.min.js'>"+"<"+"/script>");
        </script>
        <![endif]-->

		<script src="{$baseUrl|default:'../'}/static/asset/bootstrap/js/bootstrap.min.js"></script>
        <script src="{$baseUrl|default:'../'}/static/asset/ace/js/ace.min.js"></script>
        <script src="{$baseUrl|default:'../'}/static/asset/ace/js/ace-elements.min.js"></script>
        <script src="{$baseUrl|default:'../'}/static/asset/ace/js/ace-extra.min.js"></script>
        
        <script src="{$baseUrl|default:'../'}/static/asset/webuploader/webuploader.js"></script>
        
        <script src="{$baseUrl|default:'../'}/static/asset/validate/jquery.validate.min.js"></script>
		<script src="{$baseUrl|default:'../'}/static/asset/validate/localization/messages_zh.min.js"></script>
		
        <script src="{$baseUrl|default:'../'}/static/asset/jquery-ui/1.11.1/jquery-ui.min.js"></script>
		<script src="{$baseUrl|default:'../'}/static/asset/jqGrid/4.6.0/js/i18n/grid.locale-cn.js"></script>
		<script src="{$baseUrl|default:'../'}/static/asset/jqGrid/4.6.0/js/jquery.jqGrid.min.js"></script>
		<script src="{$baseUrl|default:'../'}/static/skin/manage/js/custom-jqgrid.js"></script>
		<script src="{$baseUrl|default:'../'}/static/skin/manage/js/base.js"></script>
		<script src="{$baseUrl|default:'../'}/ueditor/ueditor.config.js"></script>
		<script src="{$baseUrl|default:'../'}/ueditor/ueditor.all.js"></script>