    <link rel="stylesheet" href="{$baseUrl|default:'..'}/static/asset/bootstrap/css/bootstrap.css">
    <link rel="stylesheet" href="{$baseUrl|default:'..'}/static/asset/font-awesome/4.6.3/css/font-awesome.css">
    <link rel="stylesheet" href="{$baseUrl|default:'..'}/static/asset/jquery-ui/1.11.1/jquery-ui.min.css">
	<link rel="stylesheet" href="{$baseUrl|default:'..'}/static/asset/jqGrid/4.6.0/css/ui.jqgrid.css">
    <link rel="stylesheet" href="{$baseUrl|default:'..'}/static/asset/ace/css/ace.min.css">
    <!-- 
    <link rel="stylesheet" href="{$baseUrl|default:'..'}/static/asset/ace/css/ace-skins.css">
    -->
    <link rel="stylesheet" href="{$baseUrl|default:'..'}/static/skin/manage/css/main.css">
    
    <!--[if lte IE 8]>
	<script src="{$baseUrl|default:'..'}/static/asset/js/html5shiv.js"></script>
	<script src="{$baseUrl|default:'..'}/static/asset/js/respond.min.js"></script>
	<![endif]-->
    <link rel="stylesheet" href="{$baseUrl|default:'..'}/static/asset/webuploader/webuploader.css">
    