<!DOCTYPE html>
<html>
  <head>
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
	  <meta charset="utf-8">
	  <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0">
    
    <title> 后台管理程序</title>
     
	  <include file="Common/base_css"/>
   
  </head>
  
  <body class="skin-blue sidebar-mini">
  	
  	<div class="wrapper">
  		
  		 <header class="main-header">
  		 	  <a href="{:C('manage_url')}" class="logo">
  		 	  	<span class="logo-mini"><b>We</b>CMS</span>
  		 	  	<span class="logo-lg"><b>We</b> CMS</span>
  		 	  </a>
  		 	  
  		 	  <nav class="navbar navbar-static-top">
  		 	  	  <a href="#" class="sidebar-toggle" data-toggle="offcanvas" role="button">
				        <span class="sr-only">Toggle navigation</span>
				        <span class="icon-bar"></span>
				        <span class="icon-bar"></span>
				        <span class="icon-bar"></span>
				      </a>
				      
				      <div class="navbar-custom-menu">
				      	 <ul class="nav navbar-nav">
				      	 	 <li class="dropdown user user-menu">
				      	 	 	  <a href="#" class="dropdown-toggle" data-toggle="dropdown">
				      	 	 	  	 <img src="{:C('base')}/static/asset/adminlte/2.3.5/img/user2-160x160.jpg" class="user-image" alt="user img">
				      	 	 	  	 <span class="hidden-xs">{$username|default='未登录'}</span>
				      	 	 	  </a>
				      	 	 	  
				      	 	 	  <ul class="dropdown-menu">
				      	 	 	  	<!-- User image -->
						              <li class="user-header">
						                <img src="{:C('base')}/static/asset/adminlte/2.3.5/img/user2-160x160.jpg" class="img-circle" alt="User Image">
						
						                <p>
						                  Alexander Pierce - Web Developer
						                  <small>Member since Nov. 2012</small>
						                </p>
						              </li>
						              <!-- Menu Body -->
						              <li class="user-body">
						                <div class="row">
						                  <div class="col-xs-4 text-center">
						                    <a href="#">Followers</a>
						                  </div>
						                  <div class="col-xs-4 text-center">
						                    <a href="#">Sales</a>
						                  </div>
						                  <div class="col-xs-4 text-center">
						                    <a href="#">Friends</a>
						                  </div>
						                </div>
						                <!-- /.row -->
						              </li>
						              <!-- Menu Footer-->
						              <li class="user-footer">
						                <div class="pull-left">
						                  <a href="#" class="btn btn-default btn-flat">Profile</a>
						                </div>
						                <div class="pull-right">
						                  <a href="#" class="btn btn-default btn-flat">Sign out</a>
						                </div>
						              </li>
				      	 	 	  </ul>
				      	 	 </li>
				      	 </ul>
				      </div>
				      <!-- /.navbar-custom-menu -->
  		 	  </nav>
  		 	  <!-- /.navbar -->
  		 </header>
  		 <!-- /.main-header -->
  		 
  		 <aside class="main-sidebar">
  		 	  <section class="sidebar">
  		 	  	 <div class="user-panel">
				        <div class="pull-left image">
				          <img src="{:C('base')}/static/asset/adminlte/2.3.5/img/user2-160x160.jpg" class="img-circle" alt="User Image">
				        </div>
				        <div class="pull-left info">
				          <p>Alexander Pierce</p>
				          <a href="#"><i class="fa fa-circle text-success"></i> Online</a>
				        </div>
				     </div>
				     <!-- /.user-panel -->
				     
				     <!-- search form -->
			      <form action="#" method="get" class="sidebar-form">
			        <div class="input-group">
			          <input type="text" name="q" class="form-control" placeholder="Search...">
			              <span class="input-group-btn">
			                <button type="submit" name="search" id="search-btn" class="btn btn-flat"><i class="fa fa-search"></i>
			                </button>
			              </span>
			        </div>
			      </form>
			      <!-- /.search form -->
			      
			      <ul class="sidebar-menu">
			      	 <li class="header">主导航</li>
			      	 <li class="treeview">
			      	 	  <a href="#">
				            <i class="fa fa-dashboard"></i> <span>新闻管理</span>
				            <span class="pull-right-container">
				              <i class="fa fa-angle-left pull-right"></i>
				            </span>
				          </a>
				          <ul class="treeview-menu">
				          	  <li>
				          	  	<a href="index.php?m=manage&c=news&a=preAdd">
				          	  		<i class="fa fa-plus"></i> 新闻添加
				          	  	</a>
				          	  </li>
				          	  <li>
				          	  	<a href="index.php?m=manage&c=news&a=list">
				          	  		<i class="fa fa-plus"></i> 新闻列表
				          	  	</a>
				          	  </li>
				          </ul>
			      	 </li>
			      	 
			      	 <li class="treeview">
			      	 	  <a href="#">
				            <i class="fa fa-dashboard"></i> <span>产品管理</span>
				            <span class="pull-right-container">
				              <i class="fa fa-angle-left pull-right"></i>
				            </span>
				          </a>
				          <ul class="treeview-menu">
				          	  <li>
				          	  	<a href="index.php?m=manage&c=product&a=preAdd">
				          	  		<i class="fa fa-plus"></i> 产品添加
				          	  	</a>
				          	  </li>
				          	  <li>
				          	  	<a href="index.php?m=manage&c=product&a=list">
				          	  		<i class="fa fa-plus"></i> 产品列表
				          	  	</a>
				          	  </li>
				          </ul>
			      	 </li>
			      	 
			      	 <li class="treeview">
			      	 	  <a href="#">
				            <i class="fa fa-dashboard"></i> <span>用户管理</span>
				            <span class="pull-right-container">
				              <i class="fa fa-angle-left pull-right"></i>
				            </span>
				          </a>
				          <ul class="treeview-menu">
				          	  <li>
				          	  	<a href="index.php?m=manage&c=user&a=preAdd">
				          	  		<i class="fa fa-plus"></i> 用户添加
				          	  	</a>
				          	  </li>
				          	  <li>
				          	  	<a href="index.php?m=manage&c=user&a=list">
				          	  		<i class="fa fa-plus"></i> 用户列表
				          	  	</a>
				          	  </li>
				          </ul>
			      	 </li>
			      </ul>
  		 	  </section>
  		 	  <!-- /.sidebar -->
  		 </aside>
  		 <!-- /.main-sidebar -->
  		 
  		 <div class="content-wrapper">
  		 	  <section class="content-header">
  		 	  	
  		 	  </section>
  		 	  
  		 	  <section class="content">
  		 	  	
  		 	  </section>
  		 </div>
  		 <!-- /.content-wrapper -->
  		 <footer class="main-footer">
			    <div class="pull-right hidden-xs">
			      <b>Version</b> 2.3.5
			    </div>
			    <strong>Copyright &copy; 2014-2016 <a href="http://almsaeedstudio.com">Almsaeed Studio</a>.</strong> All rights
			    reserved.
			 </footer>
  
  	</div>
  	<!-- /.wrapper -->
  
    <include file="Common/base_js"/>

    <script>
    	seajs.use('skin/manage/js/index', function(index){
    		   index.init();
    	});
		
			function logout(){
				location.href="?m=manage&c=logout";	
			}
    </script>
  </body>
</html>