<include file="Common/header" title="聯繫我們"/>
	</head>

	<body>
		<header class="header">
			<div class="container">
				<div class="row">
					<!--logo-->
					<div class="col-md-4">
						<img src="{:C('skin_path')}/img/nav_img/nab-Logo_218x74.jpg" />
					</div>
					<!--logo end-->

					<!--nav-->
					<nav class="col-md-5">
						<ul class="nav nav-pills">
							<li><a href="{:C('index_url')}">首頁</a></li>
							<li><a href="{:C('aboutus_url')}">關於我們</a></li>
							<li><a href="{:C('news_url')}">新聞中心</a></li>
							<li><a href="{:C('product_url')}">產品中心</a></li>
							<li><a class="active" href="#">聯繫我們</a></li>
						</ul>
					</nav>
					<!--nav end-->

					<div class="col-md-3">
						<div class="col-md-8 no-padding">
							<img class="" src="{:C('skin_path')}/img/nav_img/nav_right-top-185x24.png" />
							<div class="input-group">
								<input type="text" class="form-control" placeholder="Search for...">
								<span class="input-group-btn">
							        <button class="btn btn-default" type="button">
							       		<i class="glyphicon glyphicon-search"></i>
							        </button>
							    </span>
							</div>
							<!-- /input-group -->
						</div>
						<div class="col-md-4 add-us">
							<a href="#"><img src="{:C('skin_path')}/img/home/shoucang.png" /></a>
						</div>
					</div>

				</div>
			</div>
		</header>

		<div class="banner banner-contactus">
			<div class="container">
				<span class="pull-left">聯繫我們</span>
			</div>
		</div>

		<div class="padding-top">
			<div class="container contact">
				<div class="row">
					<h4>聯繫我們</h4>
				</div>
				<div class="row bottom-line">
					<div class="contact-cn col-md-6">
						<p>上海臺蓬機械設備有限公司</p>
						<p>總部：中國上海普陀區光復西路1003弄開倫江南場創意園2號樓405</p>
						<p>電話：86 021 60520893</p>
						<p>郵箱：sales@taipencn.com</p>
					</div>
					<div class="contact-en col-md-6">
						<p>Shanghai Taipen Machinery &amp; Equipment Co., Ltd.</p>
						<p>Address: 1003 Guangfu W Rd, Putuo, Shanghai, China</p>
						<p>Telephone: +86 (21) 6052 0893</p>
						<p>M/P:+86 1850 1785 291/1850 1785 292</p>
						<p>Email address:sales@taipencn.com</p>
					</div>
				</div>
				<div class="row padding-top">
					<div class="col-md-6 map">
						<span>MAP</span><span>軌道交通11號縣站，2號出口站，往北步行100m即可到達。</span>
						<img src="{:C('skin_path')}/img/contactus/map.jpg"/>
					</div>
					<div class="col-md-6">
						<img src="{:C('base')}/u/r/images/2wm.png" alt="微信号：Taipen_sh5291">
					</div>
				</div>
			</div>
		</div>

		<include file="Common/footer"/>
	</body>

</html>