<!doctype html>
<html>
	<head>
		<meta charset="utf-8">
		<title>Product List</title>
        
	    {include file="../base_css.html"}
        
	</head>
	<body class="no-skin">
		<div class="container-fluid">
			<div class="row">
			  <div class="breadcrumbs">
				<ul class="breadcrumb">
					<li><i class="ace-icon fa fa-home home-icon"></i>首页</li>
					<li><a href="{$listUrl}">产品</a></li>
					<li class="active">列表</li>
				</ul>
				  <!-- /.breadcrumb -->
			  </div>
			  <!-- /.breadcrumbs -->
			</div>
			<!-- /.row -->
			<div class="row">
				<div class="col-md-12">
					
					<table id="gridTable"></table>
					<div id="gridPager"></div>
				</div>
			</div>
		</div>
		{include file="../base_js.html"}
		
        <script src="static/skin/manage/js/product.js"></script>
		<script>
			$(document).ready(function(){
				root.product.manage.initGrid();
			});
			
		</script>
	</body>
</html>