			<div class="row">
				<div class="box">
					<div class="box-body">
						<div class="col-md-12">
						    <form action="{:U('manage/product/edit')}" method="post" class="form-horizontal" role="form" id="edit-form-data">
						    	<div class="form-group">
									<label class="col-md-2 control-label no-padding-right" for="title"> 全称  </label>
									<div class="col-md-4">
										<input type="hidden" name="id" value="{$product.id}">
										<input type="text" name="title" placeholder="产品名全称" value="{$product.title}" class="form-control" />
									</div>
									
									<label class="col-md-1 control-label no-padding-right"> 简称  </label>
									<div class="col-md-2">
										<input type="text" name="shortTitle" placeholder="产品名简称" value="{$product.short_title}" class="form-control" />
									</div>
									<label class="col-md-1 control-label no-padding-right"> 排序号 </label>
									<div class="col-md-2">
										<input type="text" name="orderid" placeholder="排序号" value="{$product.orderid|default='0'}" class="form-control">
									</div>
								</div>
                                
								<div class="space-4"></div>
								
								<div class="form-group">
									<label class="col-md-2 control-label no-padding-right"> 产品描述 </label>
									<div class="col-md-10">
										<textarea id="content_container" name="content" rows="5">{$product.content}</textarea>
									</div>
								</div>
								
								<div class="form-group">
									<label class="col-md-2 control-label no-padding-right"> 参数 </label>
									<div class="col-md-10">
										<textarea id="specialty_container" name="specialty" rows="5">{$product.specialty}</textarea>
									</div>
								</div>
								
								<div class="form-group">
									<label class="col-md-2 control-label no-padding-right">产品缩略图</label>
									<div class="col-md-10">
										<input type="hidden" name="addtime" value="{$product.addtime|default=$Think.now|date='Y-m-d H:i:s',strtotime(###)}">
										<input type="text" id="linkurl" name="linkurl" value="{$product.linkurl}" class="form-control">
										<div id="upload-linkurl"></div>
									</div>
								</div>
								
								<div class="form-group">
									<div class="col-md-12">产品图片列表<button type="button" id="button-add-product">+</button></div>
									<div class="photo-list">
										<foreach name="$productPhotolinks" item="$productPhotolink">
										<div class="photo-detail col-md-12" style="margin-top:5px">
											
											<label class="control-label col-md-2 no-padding-right"><button type="button" id="button-del-product">-</button> 标题</label>
											<div class="col-md-2">
												<input type="hidden" name="photoids[]" value="{$productPhotolink.id}">
												<input type="text" name="photolink-title_{$productPhotolink.id}" value="{$productPhotolink.title}">
											</div>
											
											<label class="control-label col-md-2 no-padding-right">图片地址</label>
											<div class="col-md-6">
												<input type="text" id="photolink-linkurl_{$productPhotolink.id}" name="photolink-linkurl_{$productPhotolink.id}" value="{$productPhotolink.linkurl}" class="form-control">
												<div id="upload-{$productPhotolink.id}"></div>
											</div>
										</div>
										</foreach>
									</div>

								</div>
								
								<div class="clearfix form-actions">
									<div class="col-sm-offset-2 col-sm-4">
										<button type="reset" class="btn">
											<i class="ace-icon fa fa-undo bigger-110"></i>
											重置
										</button>
										&nbsp;&nbsp;
										<button type="submit" class="btn btn-info">
											<i class="ace-icon fa fa-check bigger-110"></i>
											提交
										</button>
									</div>
								</div>
						    </form>
					    </div>
					</div>
					<!-- /.box-body -->
				</div>
				<!-- /.box -->
			</div>
			<!-- /.row -->

		<script id="photolink_template" type="text/html">
			<div class="photo-detail col-md-12" style="margin-top:5px">
				<label class="control-label col-md-2 no-padding-right"><button type="button" onclick="delProduct(this)">-</button>  标题</label>
				<div class="col-md-2">
					<input type="hidden" name="photoids[]" value="{{d.time}}">
					<input type="text" name="photolink-title_{{d.time}}">
				</div>
				
				<label class="control-label col-md-2 no-padding-right">图片地址</label>
				<div class="col-md-6">
					<input type="text" id="photolink-linkurl_{{d.time}}" name="photolink-linkurl_{{d.time}}" class="form-control">
					<div id="upload-{{d.time}}"></div>
				</div>
			</div>
		</script>


		<include file="Common/ueditor"/>
		<include file="Common/webuploader"/>
		
		<script>
			seajs.use('skin/manage/js/product', function(product){
				product.initEditForm("{:C('base')}", "{:U('manage/uploader/index', 'f=img')}");
			});
		</script>
	</body>
</html>