<footer>
			<div class="container">
				<div class="row">
					<div class="col-md-7 col-sm-6">
						<p>上海臺蓬機械設備有限公司</p>
						<p>Shanghai Taipen Machinery &amp; Equipment Co., Ltd.</p>
						<p>總部：中國上海普陀區光復西路1003弄開倫江南場創意園2號樓405</p>
						<p>Address: 1003 Guangfu W Rd, Putuo, Shanghai, China</p>
						<p>電話：86 021 60520893</p>
						<p>郵編：200063</p>
					</div>
					<div class="col-md-5 col-sm-6">
						<p> 服務與咨詢</p>
						<p>網上咨詢：
							<a target="_blank" href="http://wpa.qq.com/msgrd?v=3&uin=110208766&site=qq&menu=yes">
                             <img border="0" src="http://wpa.qq.com/pa?p=2:110208766:52" alt="点击这里给我发消息" title="点击这里给我发消息" />
							</a>
							
							微信号：Taipen_sh5291
						</p>
						<p>聯繫電話：86 021 65020893</p>
						<p>移動聯絡：18501785291 / 18501785292</p>
						<p>電子郵件：sales@taipencn.com</p>
						<p>Copyright 2016-2018  上海臺蓬機械設備有限公司</p>
						<p>沪ICP备16019394號</p>
					</div>
				</div>
			</div>
		</footer>

	<script>var path='asset/jquery/3.1.0/jquery_cmd.min'</script>
<!--[if lte IE 8]>
	<script>var path='asset/jquery/1.12.4/jquery_cmd.min'</script>
<![endif]-->
<script>
	var skinName = '{:C('skin_name')}';
</script>
<script src="{:C('base')}/static/sea.js"></script>
<script src="{:C('skin_path')}/js/config.js"></script>
