    <link rel="stylesheet" href="{:C('base')}/static/asset/bootstrap/3.3.7/css/bootstrap.css">
    <link rel="stylesheet" href="{:C('base')}/static/asset/font-awesome/4.6.3/css/font-awesome.css">
    <link rel="stylesheet" href="{:C('base')}/static/asset/adminlte/2.3.5/css/AdminLTE.min.css">
    <link rel="stylesheet" href="{:C('base')}/static/asset/adminlte/2.3.5/css/skins/skin-blue.min.css">
    
    <link rel="stylesheet" href="{:C('base')}/static/skin/manage/css/main.css">
    
    <!--[if lte IE 8]>
	<script src="{:C('base')}/static/asset/js/html5shiv.js"></script>
	<script src="{:C('base')}/static/asset/js/respond.min.js"></script>
	<![endif]-->
    